$light-blue: #12B2DD;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

.landing{
    color: white;
    background: black;
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;


.scroll-text{
    position: relative;
    overflow: hidden;
    min-height: 120px;
    h1{
        position: absolute;
        color: $light-blue;
        font-size: 5em;
        display: inline-block;
        transform: translateX(100%);
        min-width: 100%;
        animation: gbe_body_e 20s linear forwards infinite;
        white-space: nowrap;
        margin: 0.5em;
        line-height: 0;
        &:nth-child(2){
            animation-delay: 10s;
            
        }
    }
    
   
    .outline{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $light-blue; 
        color: black !important;
    }       
}
.reverse{
    h1{
        animation-direction: reverse;
        transform: translateX(-120%);
    }     
}

@keyframes gbe_body_e{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

.navigation, .container{
    padding-left: 20%;
    padding-right: 10%;
    margin-top: 50px;
    .menu-icon{
        padding: 30px 20.36px;
        border-radius: 50%;
        background: $light-blue;
        position: fixed;
        bottom: 20px;
        transform: scale(0);
        left: 40%;
    }
    .inner{
        max-width: 700px;
        p{
            line-height: 1.5;
        }
        .link, .link a{
            display: inline-block;
            width: 250px;
            font-size: 2em;
            font-weight: bold;
            color: white;
            text-decoration: underline;
            margin-bottom: 10px;
            &:hover{
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: $light-blue;
                color: black;
                text-decoration: none;
            }
        }
        .resource{
            display: block !important;
            width: 100%;
            a{
                font-size: 0.75em;
                width: 100%;
            }
        }
    }
}

.journal{
    display: flex;
    max-width: 650px;
    .date{
        margin-right: 2em;
        .month{margin-block-start: 0;}
        .day{
            line-height: 0;
            margin: 70px 0;
            font-size: 12em;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            color: black;
        }
        .year{
            line-height: 0;
        }
        .footer {
            margin-top: 90px;
            display: flex;
            align-items: center;
            margin-right: 30px;
            justify-content: space-between;
            .year{
                width: 70px;
            }
            .nav{
                display: flex;
                margin-top: 0px;
                align-items: center;
                justify-content: space-between;
                width: 130px;
                img{
                    width: 55px;
                    display: inline-block;
                    cursor: pointer;
                    transition: transform 0.25s ease-in-out;
                }
                .prev{
                    &:hover{
                        transform: translateX(-10PX);
                    }
                }
                .next{
                    &:hover{
                        transform: translateX(10PX);
                    }
                }
        }
       
        }
    }
}

.message{
    h2{
        font-size: 2.5em;
        animation: pana_oju_kan 4s ease-in-out forwards 2s infinite;
        .outline{
            -webkit-text-stroke-width: 0.75px;
            color: black;
            -webkit-text-stroke-color: white;
        }
    }
}

@keyframes pana_oju_kan {
    0%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.25;
    }
    100%{
        opacity: 0.7;
    }
}
    
}

@media screen  and (max-width: 468px){
    .landing{
        p{
            font-size: 14px;
        }
        .intro{
            padding: 10vh 0;
        }
        .scroll-text{
            min-height: 60px;
            h1{
                font-size: 3em;
            }
        }
        .container, .navigation{
            padding-left:10%;
            .inner{
                .link{
                    width: 100%;
                    font-size: 1.45em;
                }
            }
        }
        .navigation{
        right: 0;
        bottom: 0;
        height: 0;
        margin-top: 0;
        position: fixed;
        border-radius: 100% 100% 0 0;
        width: 80%;
        transition: all 0.5s ease-in-out;
        .inner .link{
            text-align: center;
            font-size: 0;
            transform: translateY(50px);
        }
        .menu-icon{
            mix-blend-mode:difference;
            transform: scale(1);

        }
        }
        .mobile-nav-open{
        height: 100vh;
        background: $light-blue;
        border-radius: 0;
        transition: all 0.5s ease-in-out;
        .inner{
            position: absolute;
            bottom: 150px;
            margin: auto;
            left: 0;
            .link{
                font-size: 2em;
                transform: translateY(0px);
            }
        }
        }
        
        }
        .message{h2{
            font-size: 1.5em;
            .outline{
                -webkit-text-stroke-width: 0.3px;
            }
        }}
    }


