@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
.landing {
  color: white;
  background: black;
  min-height: 100vh;
  font-family: 'Red Hat Text', sans-serif;
}

.landing .scroll-text {
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.landing .scroll-text h1 {
  position: absolute;
  color: #12B2DD;
  font-size: 5em;
  display: inline-block;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  min-width: 100%;
  -webkit-animation: gbe_body_e 20s linear forwards infinite;
          animation: gbe_body_e 20s linear forwards infinite;
  white-space: nowrap;
  margin: 0.5em;
  line-height: 0;
}

.landing .scroll-text h1:nth-child(2) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.landing .scroll-text .outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #12B2DD;
  color: black !important;
}

.landing .reverse h1 {
  animation-direction: reverse;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

@-webkit-keyframes gbe_body_e {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gbe_body_e {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.landing .navigation, .landing .container {
  padding-left: 20%;
  padding-right: 10%;
  margin-top: 50px;
}

.landing .navigation .menu-icon, .landing .container .menu-icon {
  padding: 30px 20.36px;
  border-radius: 50%;
  background: #12B2DD;
  position: fixed;
  bottom: 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
  left: 40%;
}

.landing .navigation .inner, .landing .container .inner {
  max-width: 700px;
}

.landing .navigation .inner p, .landing .container .inner p {
  line-height: 1.5;
}

.landing .navigation .inner .link, .landing .navigation .inner .link a, .landing .container .inner .link, .landing .container .inner .link a {
  display: inline-block;
  width: 250px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  margin-bottom: 10px;
}

.landing .navigation .inner .link:hover, .landing .navigation .inner .link a:hover, .landing .container .inner .link:hover, .landing .container .inner .link a:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #12B2DD;
  color: black;
  text-decoration: none;
}

.landing .navigation .inner .resource, .landing .container .inner .resource {
  display: block !important;
  width: 100%;
}

.landing .navigation .inner .resource a, .landing .container .inner .resource a {
  font-size: 0.75em;
  width: 100%;
}

.landing .navigation .inner .resource a:hover img, .landing .container .inner .resource a:hover img {
  margin-left: 10px;
}

.landing .navigation .inner .resource img, .landing .container .inner .resource img {
  width: 15px;
  margin-left: 5px;
  -webkit-transition: margin-left 0.25s ease-in-out;
  transition: margin-left 0.25s ease-in-out;
}

.landing .journal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
}

.landing .journal .date {
  margin-right: 2em;
}

.landing .journal .date .month {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.landing .journal .date .day {
  line-height: 0;
  margin: 70px 0;
  font-size: 12em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
}

.landing .journal .date .year {
  line-height: 0;
}

.landing .journal .date .footer {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .journal .date .footer .year {
  width: 70px;
}

.landing .journal .date .footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.landing .journal .date .footer .nav img {
  width: 55px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.landing .message h2 {
  font-size: 2.5em;
  -webkit-animation: pana_oju_kan 4s ease-in-out forwards 2s infinite;
          animation: pana_oju_kan 4s ease-in-out forwards 2s infinite;
}

.landing .message h2 .outline {
  -webkit-text-stroke-width: 0.75px;
  color: black;
  -webkit-text-stroke-color: white;
}

@-webkit-keyframes pana_oju_kan {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes pana_oju_kan {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.7;
  }
}

@media screen and (max-width: 468px) {
  .landing {
    padding-bottom: 4em;
  }
  .landing p {
    font-size: 14px;
  }
  .landing .intro {
    padding: 10vh 0;
  }
  .landing .scroll-text {
    min-height: 60px;
  }
  .landing .scroll-text h1 {
    font-size: 3em;
  }
  .landing .container, .landing .navigation {
    padding-left: 10%;
  }
  .landing .container .inner .link, .landing .navigation .inner .link {
    width: 100%;
    font-size: 1.45em;
  }
  .landing .navigation {
    right: 0;
    bottom: 0;
    height: 0;
    margin-top: 0;
    position: fixed;
    border-radius: 100% 100% 0 0;
    width: 80%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .landing .navigation .inner {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  .landing .navigation .inner .link {
    text-align: center;
    font-size: 0;
  }
  .landing .navigation .menu-icon {
    mix-blend-mode: difference;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .landing .mobile-nav-open {
    height: 100vh;
    background: #12B2DD;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .landing .mobile-nav-open .inner {
    position: absolute;
    bottom: 150px;
    margin: auto;
    left: 0;
    opacity: 0;
    -webkit-animation: enter_body 0.5s ease-out 0.5s forwards;
            animation: enter_body 0.5s ease-out 0.5s forwards;
  }
  @-webkit-keyframes enter_body {
    0% {
      opacity: 0;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes enter_body {
    0% {
      opacity: 0;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  .landing .mobile-nav-open .inner .link {
    font-size: 2em;
  }
  .message h2 {
    font-size: 3em !important;
  }
  .message h2 .outline {
    -webkit-text-stroke-width: 0.3px;
  }
  .journal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journal .date {
    margin: 2em auto;
  }
  .journal .date .day {
    font-size: 10em !important;
  }
  .journal .date .month {
    text-align: center;
  }
  .journal .date .footer {
    margin-top: 50px !important;
  }
  .journal .content {
    margin-bottom: 4em;
  }
}
/*# sourceMappingURL=landing.css.map */