.landing {
  color: white;
  background: black;
  min-height: 100vh;
  font: "Red Hat", sans-serif;
}

.landing .scroll-text {
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.landing .scroll-text h1 {
  position: absolute;
  color: #12B2DD;
  font-size: 5em;
  display: inline-block;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  min-width: 100%;
  -webkit-animation: gbe_body_e 20s linear forwards infinite;
          animation: gbe_body_e 20s linear forwards infinite;
  white-space: nowrap;
  margin: 0.5em;
  line-height: 0;
}

.landing .scroll-text h1:nth-child(2) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.landing .scroll-text .outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #12B2DD;
  color: black !important;
}

.landing .reverse h1 {
  animation-direction: reverse;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

@-webkit-keyframes gbe_body_e {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gbe_body_e {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.landing .navigation, .landing .container {
  padding-left: 20%;
  padding-right: 10%;
  margin-top: 50px;
}

.landing .navigation .inner, .landing .container .inner {
  max-width: 700px;
}

.landing .navigation .inner p, .landing .container .inner p {
  line-height: 1.5;
}

.landing .navigation .inner .link, .landing .navigation .inner .link a, .landing .container .inner .link, .landing .container .inner .link a {
  display: inline-block;
  width: 250px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  margin-bottom: 10px;
}

.landing .navigation .inner .link:hover, .landing .navigation .inner .link a:hover, .landing .container .inner .link:hover, .landing .container .inner .link a:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #12B2DD;
  color: black;
  text-decoration: none;
}

.landing .navigation .inner .resource, .landing .container .inner .resource {
  display: block !important;
  width: 100%;
}

.landing .navigation .inner .resource a, .landing .container .inner .resource a {
  font-size: 0.75em;
  width: 100%;
}

.landing .journal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
}

.landing .journal .date {
  margin-right: 2em;
}

.landing .journal .date .month {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.landing .journal .date .day {
  line-height: 0;
  margin: 70px 0;
  font-size: 12em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
}

.landing .journal .date .year {
  line-height: 0;
}

.landing .journal .date .footer {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .journal .date .footer .year {
  width: 70px;
}

.landing .journal .date .footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}

.landing .journal .date .footer .nav img {
  width: 55px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.landing .journal .date .footer .nav .prev:hover {
  -webkit-transform: translateX(-10PX);
          transform: translateX(-10PX);
}

.landing .journal .date .footer .nav .next:hover {
  -webkit-transform: translateX(10PX);
          transform: translateX(10PX);
}
/*# sourceMappingURL=landing.css.map */