@font-face {
  font-family: "Mogena";
  src: local("Mogena"), url(../fonts/Mogena.ttf);
}

body {
  background: #211C49;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Mogena";
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal_align {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-header {
  padding: 1.5em 3em;
}

.main-header .logo img {
  width: 200px;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
}

.title h1 {
  font-size: 4em;
}

.title img {
  height: 40px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.title .new-item:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.title .go-back {
  margin-right: 20px;
}

.title .go-back:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.form-container {
  max-width: 550px;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group label {
  display: block;
  margin-bottom: 20px;
}

.form-group input {
  min-width: 100%;
  font-size: 1.2em;
  border-radius: 50px;
  padding: 0.5em 1.5em;
  border-width: 1px;
  color: white;
  border-color: white;
  outline: none;
  background: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-group input:hover {
  border-color: #12B2DD;
}

.form-group input:focus {
  border-color: #12B2DD;
}

.form-group input[type="submit"] {
  min-width: 200px;
  background: #12B2DD;
  cursor: pointer;
  border-color: #12B2DD;
  padding: 0.75em 2em;
  font-size: 1em;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.form-group input[type="submit"]:hover {
  background: none;
}

.form-group input[type="submit"]:focus {
  border-radius: 50px;
}

.project_list {
  background: white;
  color: #211C49;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  padding-right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin-right: 20px;
}

.project_list .text {
  margin-right: 15px;
  margin-top: 2.5px;
}

.project_list .edit {
  margin-left: -20px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.project_list .delete {
  -webkit-transform: translateX(0) scale(0);
          transform: translateX(0) scale(0);
  margin-left: -20px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.project_list img {
  width: 25px;
}

.project_list:hover .edit {
  margin-left: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project_list:hover .delete {
  margin-left: 0px;
  -webkit-transform: translateX(10px) scale(1);
          transform: translateX(10px) scale(1);
}
/*# sourceMappingURL=dashboard.css.map */